body {
  padding: 0;
  margin: 0;
  text-align: center;
}

#game-intro {
  background-image: url(../images/intro-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#game-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgorund.jpg);
  background-size: cover;
}

#game-screen {
  display: none;
  align-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#stats-container {
  display: none;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#stats-container h2 {
  margin: 0;
}

#stats-container p {
  margin: 0;
  padding: 0 10px; /* Add padding to the paragraphs for better spacing */
}
#game-end {
  display: none;
  height: 100vh;
  width: 100vw;
  background-image: url(../images/intro-background.jpg);
  background-size: cover;
}

#game-intro p,
#final-time {
  font-size: 24px;
  font-family: "Verdana";
  font-weight: bold;
  text-shadow: #fc0 1px 0 10px;
}

.logo-img {
  width: 550px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: black;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
